@import "./variables.scss";

.filterButton {
  align-self: flex-end;
}

.cardHeader {
  background: $primary-color;
  color: white;
}

.markerText {
  color: black;
}

.circularProgressContainer {
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 200px;
  height: 200px;
  left: 45%;

  &::after {
    content: "''";
    position: absolute;
    z-index: 1;
    opacity: 0.5;
    top: "-31rem";
    left: "-32rem";
    width: "64vw";
    height: "95vh";
    background: $white-color-1;
  }
}

.circularProgress {
  width: 100% !important;
  height: 100% !important;
}

.mapPageContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.toolbar {
  gap: 0.5rem;
  justify-content: end;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mapContainer {
  position: absolute;
  top: 1rem;
  bottom: 0;
  width: 100%;
  height: calc(
    100vh - 64px
  ); // Adjust the height by subtracting the height of the header
}

.planConnectionDialogTitle {
  background-color: $primary-color;
  margin-bottom: 1rem !important;
  color: $white-color-1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.closePlanConnectionDialogButton {
  color: $white-color-1;
}
