@import "./variables.scss";

.filterButton {
  align-self: flex-end;
}

.cardHeader {
  background: $primary-color;
  color: white;
}

.markerText {
  color: black;
}

.circularProgressContainer {
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 200px;
  height: 200px;
  left: 45%;

  &::after {
    content: "''";
    position: absolute;
    z-index: 1;
    opacity: 0.5;
    top: "-31rem";
    left: "-32rem";
    width: "64vw";
    height: "95vh";
    background: $white-color-1;
  }
}

.circularProgress {
  width: 100% !important;
  height: 100% !important;
}
